<table class="table datatable mt-5">
  <caption></caption>
  <thead>
  <tr>
    <th scope="col">
      #
      <button (click)="toggleSortOrder()" class="btn btn-link custom-btn-link">
        <i [class]="sortBy[0] === 'id,asc' ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'"></i>
      </button>
    </th>
    <th scope="col">Name</th>
    <th scope="col">Role</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{user.id}}</th>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.role}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <div *ngIf="user.isApproved">Approved</div>
      <div *ngIf="!user.isApproved">Pending</div>
    </td>
    <td>
      <button (click)="onEditUser(user)" class="btn btn-edit">Edit</button>
      <button (click)="onApproveUser(user)" class="btn btn-approve" *ngIf="!user.isApproved">Approve</button>
      <button (click)="onDeleteUser(user)" class="btn btn-remove">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="totalPages>0" style="display: flex;">
  <div style="flex: 1"></div>
  <nav>
    <ul class="pagination">
      <li [class.disabled]="currentPage===1" class="page-item">
        <a (click)="onPageChange(currentPage=currentPage-1)" class="page-link">Previous</a>
      </li>
      <li *ngFor="let pageNumber of pageNumbers" [class.active]="pageNumber === currentPage" class="page-item ">
        <a (click)="onPageChange(currentPage=pageNumber)" class="page-link custom-page-link">{{pageNumber}}</a>
      </li>
      <li [class.disabled]="currentPage === totalPages" class="page-item">
        <a (click)="onPageChange(currentPage=currentPage+1)" class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
