<div class="pagetitle"[hasRole]="['ADMIN']">
  <h1>Purchase Order Management</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/">Orders</a></li>
      <li class="breadcrumb-item">Purchase Orders</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <app-purchase-order-form (onCreate)="onRefresh()" (onSearch)="onSearch($event)"/>
          <app-purchase-order-table (onEdit)="onEdit($event)"/>
        </div>
      </div>
    </div>
  </div>
</section>
