<form (ngSubmit)="onSubmit()" [formGroup]="form" class="row g-3 needs-validation" novalidate>
  <div class="col-12">
    <label class="form-label">Old Password</label>
    <input class="form-control" formControlName="oldPassword" required type="password">
  </div>
  <div class="col-12">
    <label class="form-label">New Password</label>
    <input class="form-control" formControlName="newPassword" required type="password">
  </div>
  <div class="col-12">
    <label class="form-label">Confirm Password</label>
    <input class="form-control" formControlName="confirmPassword" required type="password">
  </div>
  <div class="col-12">
    <button class="btn btn-primary w-100" type="submit">Update</button>
  </div>
</form>
